#formArea{
    position:absolute;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    background-color:rgba(0,0,0,0.5);
    display: none;
}

form{
    text-align:right;
}

input{
    margin-bottom:5px;
}

.formularioClientes{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -224px;
    margin-left: -570px;
    z-index:3;
}

.formularioUtilizadores{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -343.30px;
    margin-left: -570px;
    z-index:3;
}

.formulariofornecedores{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-570px;
    margin-top:-254.60px;
    z-index:3;
}

.formularioprodutos{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-570px;
    margin-top:-254.60px;
    z-index:3;
}